p {text-align:justify;
font-size:16pt;
 font-family: Georgia; 
 color: black; 
 padding-right: 5px;}

 .p1 {text-align:justify;
  font-size:16pt;
   font-family: Georgia; 
   color: black; 
   padding-right: 5%;
  padding-left: 5%;}

 footer {font-size: 10pt;
background-color:rgb(206, 197, 202) ;}

h3 {text-align: justify; 
  padding-left:0px;
   font-size:57px;}

.jumbotron {padding-top:0px;
   padding-bottom:0px; 
   height:230px;}

.jumbotron1 {padding-top:0px; 
  padding-bottom:0px; 
  height:170px; 
  background-color:rgb(206, 197, 202)  ;}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-size: 98%;
}

.navbar a {
  float: left;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(225, 203, 235);
}

a:hover {
  color: rgb(250, 252, 252);
}

a:active {
  color: rgb(187, 187, 181);
}
  

.zoom {padding-left: 10px;
  transition: transform .2s; 
  width: 290px;
  height: 300px;
  margin: 0 auto; }

  .zoom:hover {
    transform: scale(1.5); 
  } 


li a {color:rgb(108, 116, 110);}

h2 {text-align:left; 
font-size:23px;
}

h1 {padding-left: 5%; 
  font-family:  Georgia; 
text-align: center;}


.zaglavie {padding-left: 0px;
   font-family:  Georgia; }

.zaglavie1 {text-align: center;
   font-size: 45px;}

body {background-color: rgb(226, 214, 221);}


.pic1 {vertical-align: left; 
  height:260px;
   width:550px;}

* {
  box-sizing: border-box;
}

.container {
  position: relative; 
  padding-left: 3px; 
  padding-right: 5px;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .column {
    flex: 80%;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.logo {margin: 0px, 150px, 20px, 20px; 
  border-radius:55px;}

.paragraf{padding-left: 10px;
   font-size: 16pt;
   padding-top: 15px; 
   text-align: justify; 
   padding-right: 10px;}

   .paragraf1 {text-align:center;
    font-size:16pt;}